// Colors site
$white:     #ffffff;
$black:     #0A100E;

$blue-100: #1DADE1;
$blue-200: #14456E;
$blue-300: #002C4F;
$blue-400: #061A28;

$gray-1:   #EBF0F8;
$gray-2:   #E0E4EB;
$gray-3:   #B3BBC9;
$gray-4:   #78849E;
$gray-5:   #454F63;
$gray-6:   #2A2E43;