// Global
html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: $gray-6;
  line-height: 1.6;
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  font-family:"arboria";
  -webkit-font-smoothing: antialiased;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
strong,
b {
  font-weight: 700;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"nudista-web";
}

input, select, textarea {
  outline: none;
  &:focus {
    outline: none;
  }
}
