.site-main {
  h1 {
    color: #ca163f;
    text-align: center;
    padding-top: 4em;
    font-family: "nudista-web", sans-serif;
    font-style: italic;
    font-weight: 600;
  }

  .form-control::placeholder {
    font-family: "nudista-web", sans-serif;
    font-style: italic;
    font-weight: 700;
    color: #52465c;
  }
}

.carrossel-convenios {
  background-image: url(./assets/images/banner-carrossel.png);
  background-size: cover;
  position: relative;
  margin-top: -2.5em;
  padding-bottom: 4em;
}

/* Banner hero
--------------------------------------------------------------------- */
.carrossel-wrap {
  width: 1023px;
}
#banner_hero {
  width: 100%;
  position: relative;

  .item_banner {
    a {
      display: block;
    }
  }
  .owl-nav span {
    color: #ca163f;
    font-size: 3em;
  }
  .owl-prev,
  .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: block;
    background-color: transparent !important;
  }
  .owl-prev {
    margin-left: -3em;
  }
  .owl-next {
    right: -25px;
  }

  // ---
  @media (max-width: 991px) {
  }
}
.owl-theme .owl-item img {
  border-radius: 20px;
}
.blog.container {
  max-width: 960px;
  .blog-post {
    p {
      color: #52465c;
    }
  }
}
/* CTA Chama a gente
--------------------------------------------------------------------- */
.chama {
  padding: 2.5rem 0;
  background: #52465c;
  text-align: center;
  display: block !important;

  h2 {
    color: #e9c2ac;
    font-family: "nudista-web", sans-serif;
    font-style: italic;
    font-weight: 600;
  }
  p {
    color: #fff;
    font-family: "nudista-web", sans-serif;
    font-style: italic;
    font-weight: 400;
  }
  .btn-danger {
    font-style: normal;
    font-weight: 700;
  }
  .nome.form-control {
    width: 50em;
  }
  @media (max-width: 991px) {
    .col-sm-7 {
      flex-direction: column;
      .form-control{
        width: 100%;
        margin: 0 0 1em 0 !important;
      }
    }
  }

}

/* Quem somos
--------------------------------------------------------------------- */
.sobre {
  .col-sm-4 {
    padding-left: 3rem;
  }
  h3 {
    color: #52465c;
    font-family: "nudista-web", sans-serif;
    font-style: italic;
    font-weight: 600;
  }

  p {
    color: #ca163f;
    font-size: 0.9em;
    font-family: "arboria", sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  @media (max-width: 991px) {
    .col-sm-4 {
      padding-left: 3rem;
    }
  }
}
button {
  z-index: 1;
  position: relative;
  background-color: #ca163f !important;
  border-color: #ca163f !important;
  filter: drop-shadow(11px 22px 15px rgba(0, 0, 0, 0.17));
  font-family: "nudista-web", sans-serif;
  font-style: italic;

  h4 {
    color: #e9c2ac;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 2rem;
  }
  p {
    line-height: 0;
    font-weight: 400;
    font-size: 1em;
  }
  @media (max-width: 991px) {
    .btn-text {
      text-align: center !important;
    }
    h4{
      font-size: 1.5rem;
    }
    p {
      line-height: normal;
    }
  }
}
